In [65]:
import pandas as pd
import seaborn as sns
import numpy as np

In [66]:
data__headers = ["user_id","item_id","rating","timestamp"]
item__headers = ["item_id","item_title"]

data = pd.read_csv("./dataset/ml-100k/u.data" , names=data__headers , sep="\t")
item = pd.read_csv("./dataset/ml-100k/u.item" , names=item__headers, sep="|" , encoding = 'latin-1', usecols=[0,1])

print(data.head())
print()
print(item.head())

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

   item_id         item_title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [67]:
avg_ratings = data.groupby(['item_id']).mean()
avg_ratings = pd.merge(avg_ratings,item,on="item_id")

avg_ratings = avg_ratings.drop(columns=["item_id","timestamp","user_id"]).sort_values('rating')

print(avg_ratings)

      rating                                         item_title
1363     1.0                                Bird of Prey (1996)
1560     1.0         Tigrero: A Film That Was Never Made (1994)
1558     1.0                          Hostile Intentions (1994)
1556     1.0                                 Yankee Zulu (1994)
1600     1.0                               Office Killer (1997)
...      ...                                                ...
1121     5.0                     They Made Me a Criminal (1939)
813      5.0                      Great Day in Harlem, A (1994)
1652     5.0  Entertaining Angels: The Dorothy Day Story (1996)
1466     5.0               Saint of Fort Washington, The (1993)
1292     5.0                                    Star Kid (1997)

[1682 rows x 2 columns]